<p style="color: green"><%= notice %></p>

<h1>Clothes</h1>

<div id="clothes">
  <% @clothes.each do |clothe| %>
    <%= render clothe %>
    <p>
      <%= link_to "Show this clothe", clothe %>
    </p>
  <% end %>
</div>

<%= link_to "New clothe", new_clothe_path %>
