<div id="<%= dom_id novel %>">
  <p>
    <strong>Name:</strong>
    <%= novel.name %>
  </p>

  <p>
    <strong>Pages:</strong>
    <%= novel.pages %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= novel.author_id %>
  </p>

</div>
