<p style="color: green"><%= notice %></p>

<h1 style ="color:linear-gradient(voilet,blue,green,yellow,orange,red);">Novels</h1>

<div id="novels" ,style= "color:white;" >
  <% @novels.each do |novel| %>
    <%= render novel  %>
    <p>
      <%= link_to "Show this novel", novel %>
    </p>
  <% end %>
</div>

<%= link_to "New novel", new_novel_path %>
